<div class="container">
  <ul>
    <li>
      <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="#"><span class="glyphicon glyphicon-user"></span>お問い合わせ</a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-info-sign"></span>パイプライン検索</a>   
    </li>
  </ul>
</div>
