<header>
  <div class="container">
    <div class="menu-left">
        <a href="/">Home</a>
    </div>
    <div class="menu-right">
        <a href="#">お問い合わせ</a>
    </div>
    <div class="menu-right">
        <a href="#">パイプライン検索</a>   
    </div>
  </div>
</header>
