<header>
  <div class="container">
    <ul class="menu-left">
      <li class="active">
        <a href="/">Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="menu-right">
        <a href="#">お問い合わせ</a>
      </li>
      <li class="menu-right">
        <a href="#">パイプライン検索</a>   
      </li>
    </ul>
  </div>
</header>
