<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span>お問い合わせ</a>
      </li>
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-info-sign"></span>パイプライン検索</a>   
      </li>
    </ul>
  </div>
</nav>
