html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

#myTable .tablesorter-header {
  cursor: pointer;
  outline: none;
}
#myTable .tablesorter-header-inner::after { 
  content: '▼';
  font-size: 12px;
  margin-left: 5px;
}

body {
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header{
  background-color:rgba(0,0,0,0.7);
  height:90px;
  width:100%;  
  position:fixed;
  z-index:10;
}

.header-logo {
  float: left;
  font-size: 36px;
  color:white;
  padding: 20px 40px;
  font-weight:bold;
}

.header-list li {
  float: left;
  color:white;
  padding: 33px 20px;
  font-weight:bold;
}

.container{
  width:1170px;
  margin:auto;
  text-align:center;
}

.container p{
 font-size:20px; 
}


.message-content{
  background-image: url("../background.jpg");
  background-size:cover;
  color:white;
  opacity:0.8;
  padding:50px 50px 80px 50px;
  text-align:center;
  height:600px;
  width:100%;
  vertical-align:middle;
  border-top:1px solid rgb(105,105,105); 
  border-bottom:1px solid rgb(105,105,105);

}

.message-title{
  margin-top:200px;
  font-size:52px;
}

.news-content{
  background-color: white;
  color: #008080;
  padding:50px 50px 80px 50px;
  text-align:center;
  height:400px;
  width:100%;
  border-bottom:1px solid rgb(105,105,105);
}

.section-title{
  text-align:center;
  width:500px;
  margin:auto;
  padding-bottom:10px;
}

.news-display{
  width:80%;
  height:200px;
  margin:auto;
  background-color:white;
  border:1px solid rgb(105,105,105);
}

.pipeline-content{
  background-color: #008080;
  color: white;
  padding:50px 0px 80px 0px;
  text-align:center;
  height:2000px;
  width:100%;
}

.search{
 width:300px;
 height:40px;
 margin:20px 0px 0px 0px;
 border-radius:5px;
}

.search-btn{
  color:white;
  padding:5px 10px; 
  font-weight:bold;
  border:1px solid white;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.tablesorter{
  margin:auto;
  text-align:center;
  table-layout: fixed;
}

th,td{
  width:250px;
  height:50px;
  border-bottom: 1px white solid;
  text-align:center;
}

th{
  font-weight:bold;
}
