ul {
  list-style: none;
}

header{
  background-color:rgba(0,0,0,0.7);
  height:50px
}

.menu-left{
  float:left;
  background-color:rgba(105,105,105,0.7);
  color:black;
  height:100%;
  font-size:20px;
}

.menu-right{
  float:right;
  background-color:rgba(105,105,105,0.7);
  color:black;
  height:100%;
  font-size:20px;
}

.message-content {
  background-image: url("../background.jpg");
  background-size:cover;
  color:rgb(105,105,105);
  opacity:0.8;
  padding:50px 0px 80px 0px;
  text-align:center;
  height:600px;
  vertical-align:middle;
  border-top:1px solid rgb(105,105,105); 
  border-bottom:1px solid rgb(105,105,105); 
}

.message-title{
  padding-top:100px;
}

.news-content {
  background: white;
  color: #008080;
  padding:80px 0px;
  text-align:center;
  height:600px;
}

.pipeline-content {
  background: #008080;
  color: white;
  padding:80px 0px;
  text-align:center;
  height:1000px;
}

.search{
 width:300px;
 height:40px;
 padding:50px 0px 0px 0px
 border-radius:15px;
}

.search-btn{
  color:rgb(105,105,105);
  padding:5px 10px; 
  font-weight:bold;
  border:1px solid white;
}
