.message-content {
  background: #008080;
  color: white;
  padding-bottom: 80px;
  text-align:center;
}

.news-content {
  background: white;
  color: #008080;
  padding:80px 0px;
  text-align:center;
}
