<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo.jpg">
    </a>
    <h1>Pharma Pipeline.com</h1>
    <p>国内の新薬の開発パイプラインと関連情報を見やすくまとめています</p>
    <input type="text">
    <a type="button">検索</a>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">最新ニュース</div>
</div>

<div class="container">
      <h3><span class="glyphicon glyphicon-info-sign"></span> パイプライン情報</h3>
</div>

<div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
</div>

</body>
</html>
