<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<header>
  <div class="container">
    <div class="menu-left">
        <a href="/">Home</a>
    </div>
    <div class="menu-right">
        <a href="#">お問い合わせ</a>
    </div>
    <div class="menu-right">
        <a href="#">パイプライン検索</a>   
    </div>
  </div>
</header>

<div class="message-content">
  <div class="container">
    <h1 class="message-title">Pharma Pipeline.com</h1>
    <p>国内の新薬の開発パイプラインと関連情報を見やすくまとめています</p>
    <input type="text" class="search">
    <a type="button" class="search-btn">検索</a>
  </div>
</div>

<div class="news-content">
  <div class="container">
    <h2 class="section-title">最新ニュース</h2>
  </div>
<div>

<div class="pipeline-content">
  <div class="container">
    <h2 class="section-title">開発パイプライン情報</h2>
  </div>
</div>

  <% include ../partials/footer.ejs %>

</body>
</html>
