<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="message-content">
  <div class="container">
    <a href="/" class="logo">
      <img src="/logo.jpg">
    </a>
    <h1>Pharma Pipeline.com</h1>
    <p>国内の新薬の開発パイプラインと関連情報を見やすくまとめています</p>
    <input type="text">
    <a type="button">検索</a>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">最新ニュース</div>
</div>

<div class="container">
      <h3><span class="glyphicon glyphicon-info-sign"></span> パイプライン情報</h3>
</div>

  <% include ../partials/footer.ejs %>

</body>
</html>
